@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>WELCOME TO ASSET MANEGEMENT</h1>
    <a asp-controller="Asset" asp-action="IntroPage" class="btn btn-warning">CLICK to have a LOOK</a>
</div>
